.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.flutter-plugins
*.flutter-plugins-dependencies

android/**/.gradle
android/local.properties
android/project.properties
android/Flutter/Generated.xcconfig
android/Flutter/flutter_export_environment.sh
android/*Generated.xcconfig
*.apk
*.ap_
*.aof

ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Pods/
Indexes/
*.xccheckout
*.xcworkspace

supabase/.temp/
supabase/functions/.env
.env
.env.local
*.env

supabase/certs/

postgres-data/

.vscode/
.cursor/

.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows
Thumbs.db
Ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

*~
.fuse_hidden*
.directory
.Trash-*